[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:fpetros1/nvim.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:fpetros1/tmux.git
[submodule "fish/.config/fish"]
	path = fish/.config/fish
	url = git@github.com:fpetros1/fish.git
[submodule "zsh/.config/zsh"]
	path = zsh/.config/zsh
	url = git@github.com:fpetros1/zsh.git
[submodule "scripts/.scripts"]
	path = scripts/.scripts
	url = git@github.com:fpetros1/scripts.git
[submodule "bat/.config/bat"]
	path = bat/.config/bat
	url = git@github.com:fpetros1/bat.git
[submodule "wezterm/.config/wezterm"]
	path = wezterm/.config/wezterm
	url = git@github.com:fpetros1/wezterm.git
[submodule "nushell/.config/nushell"]
	path = nushell/.config/nushell
	url = git@github.com:fpetros1/nushell.git
[submodule "starship/.config"]
	path = starship/.config
	url = git@github.com:fpetros1/starship.git
[submodule "plasma-workspace/.config/plasma-workspace/env"]
	path = plasma-workspace/.config/plasma-workspace/env
	url = git@github.com:fpetros1/plasma-workspace.git
[submodule "dash"]
	path = dash
	url = git@github.com:fpetros1/dash.git
